@model MVCMerchandising.Models.MerchanTalleViewModel

@{

    ViewData["Title"] = "Informacion";

}


<h1>Tienda</h1>

<table class="table" style="background-color:#FFCEA5">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Productos[0].Imagen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Productos[0].Producto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Productos[0].Talles)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Productos[0].Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Productos[0].Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Productos[0].Colores)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Productos) {
        <tr>
            <td>
                    @if (item.Imagen != "")
                    {
                        <img src="@item.Imagen" alt="remeruki" height="100" width="100"/>
                    }
                    else
                    {
                        <h2>No disponible</h2>
                    }
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Talles)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Colores)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Borrar</a>|
                <a asp-action="AlCarrito" asp-route-id="@item.Id">Añadir al Carrito</a>
            </td>
            </tr>
            } 

    </tbody>
</table>